* {
    margin:  0;
    padding: 0;

    font-family: "Montserrat", sans-serif;

    box-sizing: border-box;
}

.material-icons {
    pointer-events: none;
}

.material-icons.md-20 {
    font-size: 1.5em;
}

::placeholder {
    color:   var(--tex3-color);
    opacity: 1;
}

/* theme style */

.light {
    --back-color: #ffffff;
    --brdr-color: #bdbdbd;
    --tex1-color: #000000;
    --tex2-color: #ffffff;
    --tex3-color: #bdbdbd;
    --acp1-color: #22a44a;
    --acp2-color: #119339;
    --rjc1-color: #cc2525;
    --rjc2-color: #bb1414;
}

.dark {
    --back-color: #25252f;
    --brdr-color: #bdbdbd;
    --tex1-color: #ffffff;
    --tex2-color: #ffffff;
    --tex3-color: #e1e1e1;
    --acp1-color: #22a44a;
    --acp2-color: #119339;
    --rjc1-color: #cc2525;
    --rjc2-color: #bb1414;    
}

/* body style */

body {
    min-height: 100vh;

    display:         flex;
    justify-content: flex-start;
    align-items:     center;
    flex-direction:  column;

    background-color: var(--back-color);
    color:            var(--tex1-color);
}

/* header style */

header {
    min-height: 20vh;

    display:         flex;
    justify-content: center;
    align-items:     center;

    font-size: 2.0em;
}

/* input style */

.todo-input-wrap {
    min-height: 30vh;

    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
}

.todo-input-item {
    min-height: 20vh;
    min-width:  50vw;

    padding-left: 0.5em;
    padding-top:  0.5em;

    resize: none;

    border: var(--brdr-color) 1px solid;
    border-radius: 5px;

    background-color: var(--back-color);
    color:            var(--tex1-color);

    font-size: 1.5em;
}

.todo-input-item:focus {
    outline: none;   
}

.todo-input-button-wrap {
    display:         flex;
    margin-left:     auto;
}

.todo-input-button {
    margin-top: 0.5em;
    padding:    0.25em;

    min-width:  8.0em;
    min-height: 2.0em;

    display:         flex;
    justify-content: space-evenly;
    align-items:     center;

    border:        var(--acp2-color) 1px solid;
    border-radius: 0.25em;

    background-color: var(--acp1-color);
    color:            var(--tex2-color);

    cursor: pointer;
}

.todo-input-button span:nth-child(2) {
    font-size:   1.5em;
    font-weight: bold;
}

/* list style */

.todo-list {
    margin-top:  5.0vh;

    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
}

.todo {
    margin-top:    1.0em;
    margin-bottom: 1.0em;

    min-width:  50vw;

    display:         flex;
    justify-content: center;
    align-items:     center;
}

.todo-span {
    margin-right: 0.5em;
    
    border-bottom: var(--brdr-color) 1px solid;

    flex-grow: 4;

    font-size: 1.5em;
}

.todo-done-button {
    margin-right: 0.25em;
    padding:      0.25em;

    min-width:  5.0em;
    min-height: 2.0em;

    display:         flex;
    justify-content: space-evenly;
    align-items:     center;

    border:        var(--acp2-color) 1px solid;
    border-radius: 0.25em;

    background-color: var(--acp1-color);
    color:            var(--tex2-color);

    cursor: pointer;
}

.todo-remove-button {
    padding:      0.25em;

    min-width:  5.0em;
    min-height: 2.0em;

    display:         flex;
    justify-content: space-evenly;
    align-items:     center;

    border:        var(--rjc2-color) 1px solid;
    border-radius: 0.25em;

    background-color: var(--rjc1-color);
    color:            var(--tex2-color);

    cursor: pointer;

}

/* transforms */

.done>span {
    text-decoration: line-through;
}